<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{{ noticia.titulo }} - Capital Teresina</title>

  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="/media/stylesheets/foundation.css">
  -->

  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="/media/stylesheets/foundation.css">
  <link rel="stylesheet" href="/media/stylesheets/estilo.css">
  <link rel="stylesheet" href="/media/stylesheets/flexslider.css">


  <script src="javascripts/modernizr.foundation.js"></script>


</head>
<body>

  <header>
    <div class="row">
      <div class="four columns">
        <div id="logomarca">
          <h1><img src="/media/images/logoverde.png" /></h1>
        </div>
      </div> 

      <div class="four columns">
         <p class="p-print">versão para impressão</p>
         <div id="articleDate" class="date-print right">
         Matéria publicada: 
              <!--DATA-->{{ noticia.publicado_em|date:"d/m/Y"}}<!--/DATA-->
                -
                <!--HORA-->{{ noticia.publicado_em|date:"H:i"}}
            </div>
      </div>   
    </div>
  </header>

  <section class="conteudo">
    <div class="row">
      <div class="twelve columns text-center">
        {% if publicidades.url %}<a href="{{ publicidades.url }}">{% endif %}<embed class="ad-728x90 bt"src="/media/{{ publicidades.arquivo }}" />{% if publicidades.url %}</a>{% endif %}
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <section class="articleConteudo">
          <article>

            {% if noticia.foto_destaque %}
            <div class="fotodestaqueH">
                {% if noticia.credito_destaque %}<strong >Créditos: {{ noticia.credito_destaque }}</strong>{% endif %}
                <img src="{{ noticia.get_image_full_materia }}">
            </div>
            {% endif %}

            <div id="articleTitle">
                <h3>{{ noticia.titulo }}</h3>
                <p class="subtitulo">
                    {{ noticia.subtitulo }}
                </p>
            </div>

            <div id="articleBy">
                {% if noticia.autor %}<p><b>Autor: {{ noticia.autor }}</b></p>{% endif %}
            </div>

              <!-- AddThis Smart Layers BEGIN -->
              <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
              <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5229ccc8349064cc"></script>
              <script type="text/javascript">
                  addthis.layers({
                      'theme' : 'transparent',
                      'share' : {
                          'position' : 'left',
                          'numPreferredServices' : 5
                      }
                  });
              </script>
              <!-- AddThis Smart Layers END -->

            {% if noticia.foto %}
            <div class="fotodestaque">
              {% if noticia.credito %}<strong >Créditos: {{ noticia.credito }}</strong>{% endif %}
              <img alt="{{ noticia.legenda }}" height="225" src="{{ noticia.get_image_materia }}" width="300">
              {% if noticia.legenda %}<strong>{{ noticia.legenda }}</strong>{% endif %}
            </div>
            {% endif %}

            <div class="articleTexto">
                {{ noticia.texto|safe }}
            </div>
              {% if noticia.album %}
              <div id="noticiaAlbum">
                  <span class="label-title"><a href="{{ noticia.album.get_absolute_url }}">Clique aqui e veja mais fotos da notícia</a></span>
              </div>
              {% endif %}
            <hr>
            {% if noticia.fonte %}
            <div class="fonte">
              <p><strong>Fonte:</strong> {{ noticia.fonte }}</p>
            </div>
            {% endif %}
          </article>
        </section>
      </div>
    </div>
  </section>

 <footer>
    <div class="row mobile-off">
        <div class="seven columns">
          <p>Rua Gabriel Ferreira, 362 - Centro Sul - Teresina/PI - (86) 3304 1004 - redacao@capitalteresina.com.br</p>
        </div>
        <div class="five columns">
          <p>&copy; copyright © 2013 — Capital Teresina.</p>
        </div>
    </div>

   
  </footer>



  <!-- Included JS Files (Compressed) -->
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/foundation.min.js"></script>

  <!-- Initialize JS Plugins -->
  <script src="javascripts/app.js"></script>
  <script type="text/javascript">
    window.print();
  </script>

</body>
</html>
