{% extends "base.html" %}
{% block extra_head_content  %}
    {% include "componentes/metafb.html" %}
{% endblock %}
{% block title %}{% if secao %}{{ secao.nome|capfirst }} {% else %}Últimas Notícias {% endif %}- Capital Teresina{% endblock %}
{% block seo %}
    <meta name="description" content="{% if secao %}{{ secao.nome|capfirst }} {% else %}Últimas Notícias {% endif %}- Capital Teresina" />
    <meta name="keywords" content="capital teresina, capital teresina site, capital teresina portal" />
{% endblock %}
{% block content %}

  <section class="conteudo">
    <div class="row">
      <div class="eight columns">
        {% if flagbusca %}
        <p>Você buscou por: {{ queryb }}</p>
        {% endif %}
        {% if secao %}
        <section id="editoria-filtro">
          <div class="row">
            <div class="five columns">
              <h5>{{ secao.nome }}</h5>
            </div>
            {% if s %}
              <div class="seven columns">
                  <ul class="link-list right">
                      <li><strong>Veja também: </strong></li>
                      {% for s in secao.secao_set.all %}
                      <li><a href="{{ s.get_absolute_url }}" title="">{{ s.nome }}</a></li>
                      {% endfor %}
                      {% if secao.url == 'cultura' %}
                          <a href="/cinema">cinema</a>
                      {% endif %}
                  </ul>
              </div>
             {% endif %}
          </div>
        </section>
      {% endif %}
        {% if destaques %}
        <section id="editoria-destaque">
          <div class="row">
            {% if destaques.0 %}
            <div class="six columns mobile-two">
              <div class="ed_destaque">
                <a href="{{ destaques.0.get_absolute_url }}" title="{{ destaques.0.titulo }}">
                  <img src="/media/{{ destaques.0.foto }}" alt="{{ destaques.0.titulo }}">
                  <h5>{{ destaques.0.titulo }}</h5>
                  <p class="mobile-off">{{ destaques.0.subtitulo }}</p>
                </a>
              </div>
            </div>
            {% endif %}
            {% if destaques.1 %}
            <div class="six columns mobile-two">
                <div class="ed_destaque">
                  <a href="{{ destaques.1.get_absolute_url }}" title="{{ destaques.1.titulo }}">
                    <img src="/media/{{ destaques.1.foto }}" alt="{{ destaques.1.titulo }}">
                    <h5>{{ destaques.1.titulo }}</h5>
                    <p class="mobile-off">{{ destaques.1.titulo }}</p>
                  </a>
                </div>
            </div>
            {% endif %}
          </div>
        </section>
        {% endif %}
        <section id="editoria-listagem">
          <div class="row">
            <div class="twelve columns">
            <span class="label-title"><a href="">+ Notícias</a></span>
            <div class="row">
               {% for noticia in noticias.object_list %}
               <div class="twelve columns">
                 <div class="list-editoria">
                   <h6 class="categoria"># {{ noticia.secao.nome|lower }}</h6>
                   <h5>
                     <a href="{{ noticia.get_absolute_url }}">
                     {% if noticia.foto %}
                         <img src="{{ noticia.get_thumb_materia }}" alt="{{ noticia.titulo }}">
                     {% else %}
                         <img src="{{ MEDIA_URL }}/images/logo75x75px.jpg" alt="{{ noticia.titulo }}">
                     {% endif %}
                     <span>{{ noticia.titulo }}</span>
                         <p class="pmobile">{{ noticia.subtitulo }}</p>
                     </a>
                   </h5>
                 </div>
               </div>
                {% endfor %}

            </div>
            </div>
          </div>

          <div class="row">
            <div class="twelve columns">
              <div class="pagination-centered">
                <ul class="pagination">
                    {% if noticias.has_previous %}
                        <li class="arrow"><a href="?q={{ queryb }}&page={{ noticias.previous_page_number }}">&laquo;</a></li>
                    {% endif %}
                    {% for num in noticias.paginator.page_range %}
                        {% ifequal num noticias.number %}
                            <li class="current"><a href="">{{ num }}</a></li>
                        {% else %}
                            {% if num <= noticias.number|add:2 and num >= noticias.number|add:-2 %}
                                <li><a href="?q={{ queryb }}&page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endifequal %}
                    {% endfor %}
                    {% if noticias.has_next %}
                        <li class="arrow"><a href="?q={{ queryb }}&page={{ noticias.next_page_number }}">&raquo;</a></li>
                    {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>

        {% include "componentes/sidebar.html" %}
    </div>
  </section>
{% endblock %}


