{% extends "base.html" %}
{% block title %}Colunas - Capital Teresina"{% endblock %}
{% block extra_head_content  %}
    {% include "componentes/metafb.html" %}
{% endblock %}
{% block seo  %}
    <meta name="description" content="Colunas - Capital Teresina" />
    <meta name="keywords" content="capital teresina, capital teresina site, capital teresina portal, colunas" />
{% endblock %}
{% load utils %}
{% block content %}
  <section class="conteudo">
    <section id="list-colunistas">
      <div class="row">
        <div class="eight columns">
            <span class="label-title"><a href=""># Colunistas</a></span>
            <div class="row">
             {% for coluna in colunas %}
              {% if forloop.last %}
                 <div class="six columns end">
              {% else %}
                 <div class="six columns">
              {% endif %}
                <div class="item-colunista ">
                  <a href="{{ coluna.get_absolute_url }}">
                    <h5>{{ coluna.secao }}</h5>
                    <img src="{{ coluna.get_image_medium }}" alt="{{ coluna.secao }}">
                  </a>
                </div>
              </div>
             {% endfor %}
            </div>
        </div>

          {% include "componentes/sidebar.html" %}
      </div>
    </section>
  </section>
{% endblock %}
