{% extends "base.html" %}
{% block extra_head_content  %}
    {% include "componentes/metafb.html" %}
{% endblock %}
{% block title %}{{ noticia.titulo }} - Capital Teresina{% endblock %}
{% block seo  %}
    <meta name="description" content="{{ noticia.titulo }} - Capital Teresina" />
    <meta name="keywords" content="{{ noticia.palavras_chaves }}, capital teresina, capital teresina site, capital teresina portal" />
{% endblock %}
{% load utils %}
{% block content %}
  <section class="conteudo">
    <div class="row">
      <div class="twelve columns text-center">
        {% if publicidades.url %}<a href="{{ publicidades.url }}">{% endif %}<embed class="ad-728x90 bt"src="/media/{{ publicidades.arquivo }}" />{% if publicidades.url %}</a>{% endif %}
      </div>
    </div>
    <div class="row">
      <div class="eight columns">
        <section class="articleConteudo">
          <article>
            <div id="articleDate">
                <!--DATA-->{{ noticia.publicado_em|date:"d/m/Y"}}<!--/DATA-->
                -
                <!--HORA-->{{ noticia.publicado_em|date:"H:i"}}<!--/HORA-->
            </div>
            {% if noticia.foto_destaque %}
            <div class="fotodestaqueH">
                {% if noticia.credito_destaque %}<strong >Créditos: {{ noticia.credito_destaque }}</strong>{% endif %}
                <img src="{{ noticia.get_image_full_materia }}">
            </div>
            {% endif %}

            <div id="articleTitle">
                <h3>{{ noticia.titulo }}</h3>
                <p class="subtitulo">
                    {{ noticia.subtitulo }}
                </p>
            </div>

            <div id="articleBy">
                {% if noticia.autor %}<p><b>Autor: {{ noticia.autor }}</b></p>{% endif %}
            </div>

              <!-- AddThis Smart Layers BEGIN -->
              <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
              <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5229ccc8349064cc"></script>
              <script type="text/javascript">
                  addthis.layers({
                      'theme' : 'transparent',
                      'share' : {
                          'position' : 'left',
                          'numPreferredServices' : 5
                      }
                  });
              </script>
              <!-- AddThis Smart Layers END -->

            {% if noticia.foto %}
            <div class="fotodestaque">
              {% if noticia.credito %}<strong >Créditos: {{ noticia.credito }}</strong>{% endif %}
              <img alt="{{ noticia.legenda }}" height="225" src="{{ noticia.get_image_materia }}" width="300">
              {% if noticia.legenda %}<strong>{{ noticia.legenda }}</strong>{% endif %}
            </div>
            {% endif %}

            <div class="articleTexto">
                {{ noticia.texto|safe }}
            </div>
              {% if noticia.album %}
              <div id="noticiaAlbum">
                  <span class="label-title"><a href="{{ noticia.album.get_absolute_url }}">Clique aqui e veja mais fotos da notícia</a></span>
              </div>
              {% endif %}
            <hr>
            <div class="articleBtn mobile-off">
              <ul id="btnArt" class="inline-list">
                <li><a class="btnsarticle" href="{{ noticia.get_print_url }}"><i id="print"></i>Versão para impressão</a></li>
              </ul>
            </div>
            {% if noticia.fonte %}
            <div class="fonte">
              <p><strong>Fonte:</strong> {{ noticia.fonte }}</p>
            </div>
            {% endif %}
            {% if noticia.get_palavras_chaves %}
            <div id="tags">
              <dl class="sub-nav">
                <dt>TAGs</dt>
                {% for palavra in noticia.get_palavras_chaves %}
                <dd><a href="/busca/?q={{ palavra }}" title="{{ palavra }}">{{ palavra }}</a></dd>
                {% endfor %}
              </dl>
            </div>
            {% endif %}
            {% if relacionadas %}
            <div class="row">
              <div class="twelve columns">
                <span class="label-title">Recomendamos para você »</span>
                <hr>
                <div class="row">
                    {% for relacionada in relacionadas %}
                   <div class="six columns">
                     <div class="box-recomendamos">
                       <h6 class="categoria"># {{ relacionada.secao }}</h6>
                       <h5>
                         <a href="{{ relacionada.get_absolute_url }}">
                         {% if relacionada.foto %}
                         <img src="{{ relacionada.get_image_medium_materia }}" alt="{{ relacionada.titulo }}">
                         {% else %}
                         <img src="{{ MEDIA_URL }}/images/logo75x75px.jpg" alt="{{ relacionada.titulo }}">
                         {% endif %}
                         <span>{{ relacionada.titulo }}</span>
                         </a>
                       </h5>
                     </div>
                   </div>
                    {% endfor %}

                </div>
              </div>
            </div>
            {% endif %}
            <div class="comentarios mobile-off">
		<div class="fb-comments" data-href="http://www.capitalteresina.com.br/{{ request.get_full_path }}" data-width="650" data-num-posts="2"></div>
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=393767570714772";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>

            </div>

          </article>
        </section>
      </div>

        {% include "componentes/sidebar.html" %}
    </div>
  </section>
{% endblock %}

