{% extends "base.html" %}
{% block title %}{% if notas %}{{ notas.0 }} - {% endif %}{{ titulo }} - Capital Teresina{% endblock %}
{% block seo  %}
    <meta name="description" content="{{ titulo }} - Capital Teresina" />
    <meta name="keywords" content="{{ noticia.palavras_chaves }}, capital teresina, capital teresina site, capital teresina portal" />
{% endblock %}
{% load utils %}
{% block content %}

  <section class="conteudo">
    <section id="interna-colunistas">
      <div class="row">
        <div class="eight columns">
            <div class="row">
              <div class="twelve columns">
                <span class="label-title"><a href="{{ coluna.get_absolute_url }}"># {{ titulo }}</a></span>
              </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <div id="header-colunista">
                        <img src="{{ coluna.get_image_header }}" alt="{{ titulo }}">
                    </div>
                </div>
            </div>

            <div class="row">
              <div class="twelve columns">
                {% for nota in notas.object_list %}
                <article class="post-coluna">
                  <div id="articleDate">
                    <!--DATA-->{{ nota.publicado_em|date:"d/m/Y"}}<!--/DATA-->
                    -
                    <!--HORA-->{{ nota.publicado_em|date:"H:i"}}<!--/HORA-->
                  </div>

                  <div id="articleTitle">
                    <a href="{{ nota.get_absolute_url }}"><h3>{{ nota.titulo }}</h3></a>
                  </div>
                    <div class="article_recommend mobile-off">
                        <iframe class="addthis_button_facebook_like" src="http://www.facebook.com/plugins/like.php?href=http://www.capitalteresina.com.br{{ nota.get_absolute_url }}&amp;width=450&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;send=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
                    </div>
                    {% if nota.primeira_foto %}
                    <div class="fotodestaqueH">
                        <img src="/media/{{ nota.primeira_foto }}" alt="{{ nota.legenda_primeira_foto }}">
                        {% if nota.legenda_primeira_foto %}
                        <strong>{{ nota.legenda_primeira_foto }}</strong>
                        {% endif %}
                    </div>
                    {% endif %}
                    <div class="articleTexto">
                        <p>{{ nota.nota|safe }}</p>
                    </div>
                    {% if social %}
                      <div class="comentarios mobile-off">
                        <div class="fb-comments" data-href="http://www.capitalteresina.com.br/{{ request.get_full_path }}" data-width="650" data-num-posts="2"></div>
                                    <div id="fb-root"></div>
                                    <script>(function(d, s, id) {
                                      var js, fjs = d.getElementsByTagName(s)[0];
                                      if (d.getElementById(id)) return;
                                      js = d.createElement(s); js.id = id;
                                      js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=393767570714772";
                                      fjs.parentNode.insertBefore(js, fjs);
                                    }(document, 'script', 'facebook-jssdk'));</script>

                                </div>
                      <!-- AddThis Smart Layers BEGIN -->
                      <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
                      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5229ccc8349064cc"></script>
                      <script type="text/javascript">
                          addthis.layers({
                              'theme' : 'transparent',
                              'share' : {
                                  'position' : 'left',
                                  'numPreferredServices' : 5
                              }
                          });
                      </script>
                      <!-- AddThis Smart Layers END -->
                  {% endif %}
                </article>
                {% endfor %}
              </div>
            </div>
                  <div class="row">
                      <div class="twelve columns">
                          <div class="pagination-centered">

                              {% if paginacao %}
                              <ul class="pagination">
                                  {% if notas.has_previous %}
                                      <li class="arrow"><a href="?q={{ queryb }}&page={{ notas.previous_page_number }}">&laquo;</a></li>
                                  {% endif %}
                                  {% for num in notas.paginator.page_range %}
                                      {% ifequal num notas.number %}
                                          <li class="current"><a href="">{{ num }}</a></li>
                                      {% else %}
                                          {% if num <= notas.number|add:2 and num >= notas.number|add:-2 %}
                                          <li><a href="?q={{ queryb }}&page={{ num }}">{{ num }}</a></li>
                                          {% endif %}
                                      {% endifequal %}
                                  {% endfor %}
                                  {% if notas.has_next %}
                                      <li class="arrow"><a href="?q={{ queryb }}&page={{ notas.next_page_number }}">&raquo;</a></li>
                                  {% endif %}
                              </ul>
                              {% endif %}
                          </div>
                      </div>
                  </div>
                      {% if biografia %}
                      {% if coluna.biografia %}
                          <div class="row">
                              <div class="twelve columns">
                                  <div class="bg-bio">
                                      <div class="row">

                                          <div class="three columns">
                                              <img src="{{ coluna.get_image_small }}" alt="{{ coluna.secao }}" title="{{ coluna.secao }}">
                                          </div>
                                          <div class="nine columns">
                                              <p>{{ coluna.biografia }}</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      {% endif %}
                      {% endif %}
                  </div>
          {% include "componentes/sidebar.html" %}
              </div>

    </section>

  </section>

{% endblock %}

