{% extends "base.html" %}
{% block title %}{% if notas %}{{ notas.0 }} - {% endif %}{{ titulo }} - Capital Teresina{% endblock %}
{% block seo  %}
    <meta name="description" content="{{ titulo }} - Capital Teresina" />
    <meta name="keywords" content="{{ noticia.palavras_chaves }}, capital teresina, capital teresina site, capital teresina portal" />
{% endblock %}
{% load utils %}
{% block content %}

  <section class="conteudo">
    <section id="interna-colunistas">
      <div class="row">
        <div class="eight columns">
            <div class="row">
              <div class="twelve columns">
                <span class="label-title"><a href="{{ coluna.get_absolute_url }}"># {{ titulo }}</a></span>
              </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <div id="header-colunista">
                        <img src="{{ coluna.get_image_header }}" alt="{{ titulo }}">
                    </div>
                </div>
            </div>

            <div class="row">
              <div class="twelve columns">
                {% regroup notas by publicado_em|date:"d/m/Y" as pub_list %}
              <ul>
                {% for publicado_em in pub_list %}
                <h5>Coluna {{ publicado_em.grouper }}</h5>
                <article class="">
{#                  <div id="articleDate">#}
{#                    <!--DATA-->{{ nota.publicado_em|date:"d/m/Y"}}<!--/DATA-->#}
{#                    -#}
{#                    <!--HORA-->{{ nota.publicado_em|date:"H:i"}}<!--/HORA-->#}
{#                  </div>#}
                {% for nota in publicado_em.list %}
                  <div id="articleTitle">
                    <h6 class="categoria">{{ nota.titulo.lower }}</h6>
                  </div>
                    {% if nota.primeira_foto %}
                    <div class="fotodestaqueH">
                        <img src="/media/{{ nota.primeira_foto }}" alt="{{ nota.legenda_primeira_foto }}">
                        {% if nota.legenda_primeira_foto %}
                        <strong>{{ nota.legenda_primeira_foto }}</strong>
                        {% endif %}
                    </div>
                    {% endif %}
                    <div class="articleTexto">
                        <p>{{ nota.nota|safe }}</p>
                    </div>
                    {% if social %}
                                  <div class="comentarios mobile-off">
                                      <div class="fb-comments fb_iframe_widget" data-href="http://www.capitalteresina.com.br{{ nota.get_absolute_url }}" data-width="650" data-num-posts="2" fb-xfbml-state="rendered"><span style="height: 160px; width: 650px;"><iframe id="f23407faf8" name="f24763cdd" scrolling="no" title="Facebook Social Plugin" class="fb_ltr" src="https://www.facebook.com/plugins/comments.php?api_key=393767570714772&amp;channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D26%23cb%3Df386bb73e%26domain%3Dcapitalteresina.com.br%26origin%3Dhttp%253A%252F%252Fcapitalteresina.com.br%252Ff149cea10c%26relation%3Dparent.parent&amp;href=http://www.capitalteresina.com.br/{{ nota.get_absolute_url }}&amp;locale=pt_BR&amp;numposts=2&amp;sdk=joey&amp;width=650" style="border: none; overflow: hidden; height: 160px; width: 650px;"></iframe></span></div>
                                  </div>
                                  <!-- AddThis Smart Layers BEGIN -->
                                  <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
                                  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5229ccc8349064cc"></script>
                                  <script type="text/javascript">
                                      addthis.layers({
                                          'theme' : 'transparent',
                                          'share' : {
                                              'position' : 'left',
                                              'numPreferredServices' : 5
                                          }
                                      });
                                  </script>
                                  <!-- AddThis Smart Layers END -->
                              {% endif %}
                  {% endfor %}
                </article>
                {% endfor %}
              </div>
            </div>
                  <div class="row">
                      <div class="twelve columns">
                          <div class="pagination-centered">

                              {% if paginacao %}
                              <ul class="pagination">
                                  {% if notas.has_previous %}
                                      <li class="arrow"><a href="?q={{ queryb }}&page={{ notas.previous_page_number }}">&laquo;</a></li>
                                  {% endif %}
                                  {% for num in notas.paginator.page_range %}
                                      {% ifequal num notas.number %}
                                          <li class="current"><a href="">{{ num }}</a></li>
                                      {% else %}
                                          {% if num <= notas.number|add:2 and num >= notas.number|add:-2 %}
                                          <li><a href="?q={{ queryb }}&page={{ num }}">{{ num }}</a></li>
                                          {% endif %}
                                      {% endifequal %}
                                  {% endfor %}
                                  {% if notas.has_next %}
                                      <li class="arrow"><a href="?q={{ queryb }}&page={{ notas.next_page_number }}">&raquo;</a></li>
                                  {% endif %}
                              </ul>
                              {% endif %}
                          </div>
                      </div>
                  </div>
                      {% if biografia %}
                      {% if coluna.biografia %}
                          <div class="row">
                              <div class="twelve columns">
                                  <div class="bg-bio">
                                      <div class="row">

                                          <div class="three columns">
                                              <img src="{{ coluna.get_image_small }}" alt="{{ coluna.secao }}" title="{{ coluna.secao }}">
                                          </div>
                                          <div class="nine columns">
                                              <p>{{ coluna.biografia }}</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      {% endif %}
                      {% endif %}
                  </div>
          {% include "componentes/sidebar.html" %}
              </div>

    </section>

  </section>

{% endblock %}

