<footer>
    <div class="row mobile-off">
        <div class="four columns">
            <div id="logomarca">
                <h1><a href=""><img src="{{ MEDIA_URL }}/images/logo.png" /></a></h1>
            </div>
        </div>
        <div class="two columns">
            <h5>geral</h5>
            <ul>
                <!-- <li><a href="/noticias/brasil" title="Brasil">Brasil</a></li> -->
                <li>Brasil</li>
                <li><a href="/noticias/teresina/" title="Teresina">Teresina</a></li>
                <li><a href="/noticias/ciencia-e-saude/" title="Ciência e Saúde">Ciência e Saúde</a></li>
                <li><a href="/noticias/educacao" title="Educação">Educação</a></li>
            </ul>
        </div>
        <div class="two columns">
            <h5>política</h5>
            <ul>
                <li><a href="/noticias/piaui" title="Piauí">Piauí</a></li>
                <li><a href="/noticias/nacional" title="Nacional">Nacional</a></li>
                <li>Mundo</li>
            </ul>
        </div>
        <div class="two columns">
            <h5>economia</h5>
            <ul>
                <li>Finanças Pessoais</li>
                <li>Agronegócio</li>
                <li>Empreendedorismo</li>
                <li><a href="/noticias/concursos-e-empregos/" title="Concursos e Empregos">Concursos e Empregos</a></li>
            </ul>
        </div>
        <div class="two columns">
            <h5>cultura</h5>
            <ul>
                <li><a href="/noticias/agenda-de-eventos/" title="Agenda de Eventos">Agenda de Eventos</a></li>
                <li><a href="/cinema/" title="Cinema">Cinema</a></li>
                <li>Celebridades</li>
                <li>Novelas</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <hr>
        <div class="six columns">
            <p>Rua Gabriel Ferreira, 362 - Centro Sul - Teresina/PI - (86) 3304 1004 - redacao@capitalteresina.com.br</p>
        </div>

        <div class="six columns">
            <ul class="link-list right">
                <li><a href="/privacidade" title="">política de privacidade</a></li>
                <li><a href="/contato/" title="Contato">contato</a></li>
                <li><a href="/anuncie/" title="Anuncie">anuncie conosco</a></li>
            </ul>
        </div>
    </div>

    <section id="copy">
        <div class="row">
            <div class="six columns">
                <p>&copy; copyright © 2013 — Capital Teresina.</p>
            </div>

            <div class="four columns">
                <ul class="inline-list right">
                    <li><a href="http://www.agencia128bits.com/" target="blank"><img src="{{ MEDIA_URL }}/images/128bits.png" width="125"></a></li>
                </ul>
            </div>
        </div>
    </section>
</footer>