
<header>
    <div class="row">
        <div class="four columns">
            <div id="logomarca">
                <h1><a href="/"><img src="{{ MEDIA_URL }}/images/logo.png" /></a></h1>
            </div>
        </div>

        <div class="two columns mobile-on">
            <div id="menu-mobile">
                <div href="#" class=" button dropdown menu-m">
                    Menu
                    <ul>
                        <li><a href="/">inicio</a></li>
                        <li><a href="/noticias/geral">geral</a></li>
                        <li><a href="/noticias/politica/">política</a></li>
                        <li><a href="/noticias/esporte/">esportes</a></li>
                        <li><a href="/noticias/economia/">economia</a></li>
                        <li><a href="/noticias/cultura">cultura</a></li>
                        <li><a href="/colunas/">colunas</a></li>
                        <li><a href="/cinema/">cinema</a></li>
                        <li><a href="/infograficos/">Infográficos</a></li>
                        <li><a href="/albuns/">álbuns</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="six columns">
            <div id="form-search">
                <div class="row collapse">
                    <form class="search-form" action="{% url 'apps.materias.views.busca' %}" method="get">
                    <div class="ten mobile-three columns">
                        <input type="text" name="q"/>
                    </div>
                    <div class="two mobile-one columns">
                        <button class="button expand postfix green" type="submit"/>Buscar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mobile-off">
        <div class="twelve columns">
            <div id="menu-bar">
                <ul class="menu">
                    <li><a href="/">inicio</a></li>
                    <li><a href="/noticias/geral">geral</a></li>
                    <li><a href="/noticias/politica/">política</a></li>
                    <li><a href="/noticias/esporte/">esportes</a></li>
                    <li><a href="/noticias/economia/">economia</a></li>
                    <li><a href="/noticias/cultura">cultura</a></li>
                    <li><a href="/colunas/">colunas</a></li>
                    <li><a href="/cinema/">cinema</a></li>
                    <li><a href="/infograficos/">infográficos</a></li>
                    <li><a href="/albuns/">álbuns</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>