<meta property="og:site_name" content="Capital Teresina" />
<meta property="og:type" content="article" />
<meta property="og:locale" content="pt_BR" />
<meta property="fb:app_id" content="393767570714772" />
<meta property="og:url" content="http://www.capitalteresina.com.br{{ request.get_full_path }}" />
<meta property="og:title" content="{{ coluna.titulo }}" />
<meta property="og:description" content="{{ coluna.subtitulo }}" />
<meta property="article:published_time" content="{{ coluna.publicado_em|date:'Y-m-d'}}" />
<meta property="article:modified_time" content="{{ coluna.alterado_em|date:'Y-m-d'}}" />
{% load utils %}
{% for tag in tags %}
<meta property="article:tag" content="{{ tag|trim }}" />
{% endfor %}