<aside class="four columns">
    <div class="bloco-filtro mobile-off">
        <div class="row">
            <div class="twelve columns">
                <h5>Filtrar por:</h5>
                <form class="custom right" action="#" method="post">
                    <select name="select-editoria" class="select-editoria" onChange="window.location=this.options[this.selectedIndex].value;">
                        <option>Selecione a Editoria</option>
                        {% for secao in secoes %}
                            <option value="{{ secao.get_absolute_url }}">{{ secao.nome }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    </div>
    <div class="bloco-last">
        <span class="label-title"><a href="/noticias/">Últimas Notícias + </a></span>
        <div class="row">
            {% for ultima in ultimas %}
                <div class="twelve columns">
                    <div class="medium-last">
                        <h6 class="categoria"># {{ ultima.secao|lower }}</h6>
                        <h5>
                            <a href="{{ ultima.get_absolute_url }}" title="{{ ultima.titulo }}">{{ ultima.titulo|truncatechars:'65' }}</a>
                        </h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="adsense mobile-off">
        <div class="ad-300x250 ">
            {% if publicidades_3.url %}<a href="{{ publicidades_3.url }}">{% endif %}<embed src="/media/{{ publicidades_3.arquivo }}">{% if publicidades_3.url %}</a>{% endif %}
        </div>
	<div>
	    {% include "componentes/ads_torre.html" %}
	</div>
    </div>
</aside>
