


.mobile-on{display: none;}
section{margin-bottom: 0px;}
h1, h2, h3, h4, h5, h6, p, pre, ul, ol  {list-style:none;}
h3, h5 {color: #005c24}
h3 a, h3 a:visited, h5 a, h5 a:visited {color: #005c24; font-weight: bold; }
a{color: #000000}
a:hover {text-decoration: underline; opacity: 0.8; color: #005c24; }

h3 a{font-size: 22px;}
h5 {font-size: 14px;}
h5.categoria{font-size: 18px;}
h5.titdestaque{font-size: 20px;}
h6.categoria {font-weight: bold; color: #666; font-family: Arial; font-size: 16px; font-variant: small-caps; margin-bottom: -10px; margin-top: 0px; }

div#mother{ margin:0 auto; width:943px; height:572px; position:relative; }
div#errorBox{ background: url('/media/images/404.png') no-repeat top left; width:943px; height:572px; margin:auto; }
div#errorText{ color:#39351e; padding:155px 0 0 540px}
/*div#errorText p{ width:303px; font-size:18px; line-height:26px; color: #005c24; }*/
div.link{ /*background:#f90;*/ height:61px; width:266px; float:left; }
div#home{margin: 432px 0 0 538px;}
div#contact{ margin:20px 0 0 25px;}

header {background-color: #f0f0f0; border-top: 5px solid #005c24; margin-bottom: 25px; border-bottom: 1px solid #e6e6e6; }
footer{background-color: #f0f0f0; border-top: 5px solid #005c24; border-bottom: 1px solid #e6e6e6;}
footer ul li a {color: black; }
#copy{background-color: #005c24;padding: 10px;color: white;}
#logomarca {background-color: #005c24; margin-bottom: 10px; }
#logomarca h1 {margin: 0; text-align: center; }

#form-search {padding-top: 10px; }

.bt{margin-bottom: 25px !important;}

p.pmobile{color: black;}

ul.menu { padding: 0; list-style: none; overflow: hidden; margin-bottom: 0px; margin-top: 15px; height: 40px; }
ul.menu li:hover , ul.menu li:active {border-bottom: 2px solid #005c24;}
ul.menu li a {display: block; color: #8F8F8F ; font-weight: bold; font-size: 18px; font-variant: small-caps; -webkit-transition: color 0.35s linear; -moz-transition: color 0.35s linear; transition: color 0.35s linear; -ms-transition: color 0.35s linear; }
ul.menu li a.active,  ul.menu li a:hover {color: #000000;}
ul.menu li {display: inline-block; width: auto; margin-right: 15px;}
ul.menu li a {text-decoration: none !important; }

.menu li {float: left;padding: 0; }
.menu li ul {z-index: 9999;position: absolute;left: -999em;height: auto;width: 170px;margin: 0;padding: 0; background-color: white; border: 3px solid whitesmoke;top: 40px;; padding: 5px;}
.menu li ul a {width: 140px;}
.menu li ul ul {margin: -32px 0 0 171px;}
.menu li:hover ul {left: auto;}

.button.menu-m {z-index: 15; background-color: #005c24; border: 1px solid #396516; }
.button.menu-m:hover, .button.menu-m:focus {background-color: #457A1D; text-decoration: none;}
.button.green {z-index: 0; background-color: #005c24; border: 1px solid #396516; }
.button.green:hover, .button.green:focus {background-color: #457A1D; text-decoration: none;}


.big { height: 150px; overflow: hidden; }
.small { height: 150px; overflow: hidden; margin-bottom: 25px; }
.medium {margin-bottom: 20px; height: 150px; overflow: hidden; border-bottom: 1px dotted gray; }
.medium-two { height: 70px; overflow: hidden; border-bottom: 1px dotted gray; }
.medium-last { overflow: hidden; border-bottom: 1px dotted gray; max-height: 65px; margin-bottom: 10px; }
.medium-last img {float: left; width: 75px; height: 75px; margin-right: 15px; margin-bottom: 10px; }

.list-editoria { overflow: hidden; border-bottom: 1px dotted gray; max-height: 105px; margin-bottom: 10px; }
.list-editoria img {float: left; width: 75px; height: 75px; margin-right: 15px; margin-bottom: 10px; }


.box-recomendamos { overflow: hidden; border-bottom: 1px dotted gray; max-height: 105px; margin-bottom: 10px; }
.box-recomendamos img {float: left; width: 75px; height: 75px; margin-right: 15px; margin-bottom: 10px; }


#slide {height: 320px; margin-bottom: 20px; overflow: hidden; }


.big img{width: 100%; height: 150px; display: block;}
.small img{width: 100%; height: 150px; display: block;}

.flex-caption {width: 100%; padding: 2%; font-weight: bold; position: absolute; left: 0; bottom: 0; background: rgba(0, 92, 36, 0.8); color: #fff; font-size: 15px !important; line-height: 18px; }
.caption {width: 93%; padding: 2%; position: absolute; bottom: 25px; background: rgba(0, 92, 36, 0.8); color: #fff; font-weight: bold; line-height: 14px; top: 112px; font-size: 14px; }
.caption1 {width: 91.2%; padding: 2%; position: absolute; bottom: 25px; background: rgba(0, 92, 36, 0.8); color: #fff; font-weight: bold; line-height: 14px; top: 112px; font-size: 13px; }


.news-small a:hover .desc {display: block; font-size: 14px; background: rgba(0, 92, 36, 0.6); color: #fff; position: relative; padding: 40px 10px 80px 10px; margin: 0; top: -150px; bottom: 0px; right: 0; left: 0; font-weight: bold; line-height: 1.3; }
.news-small a .desc {display: none; }

.album-thumb a:hover .desc {display: block; font-size: 15px;font-weight: bold; background: rgba(0, 92, 36, 0.6); color: #fff; position: relative; padding: 55px 10px 80px 10px; margin: 0; top: -149px; bottom: 5px; right: 0; left: 0; }
.album0thumb a .desc {display: none; }


.socialist.socialist-facebook { float: left; width: 184px;}

.label-title {padding: 1px 4px 2px; font-size: 23px; font-weight: bold; text-align: center; text-decoration: none; line-height: 1; white-space: nowrap; display: inline-block; margin-bottom: 10px; position: relative; bottom: 3px; color: #fff; background: #005c24; }
.label-title a{color: #fff;margin-bottom: 10px; white-space: normal}
.label-title a:hover {text-decoration: none; }



aside span.label-title {padding: 1px 4px 2px; width: 100%; font-size: 21px; font-weight: bold; text-align: center; text-decoration: none; line-height: 1; white-space: nowrap; display: inline-block; position: relative; bottom: -3px; color: #fff; background: #005c24; }


.bg-colunistas {background: #f2f2f2; border: solid 1px #e6e6e6; margin: 0px 0 0px 0; padding: 10px 20px 8px; }
.bg-bio {background: #f2f2f2; border: solid 1px #e6e6e6; margin: 10px 0 22px 0; padding: 10px 10px 5px; }

.item-col{ padding: 0 5px 0px 0px; margin-left: 0px; margin-bottom: 0px;}
.item-col:first-child{margin-left: 2px;}
.item-col:last-child{ padding: 0 5px 0px 0px; margin-left: -2px; margin-right: -1px;}

.item-colunista{background: #f2f2f2; border: solid 1px #e6e6e6; margin: 10px 0 22px 0; padding: 0px 10px 10px; }
.item-colunista img{width: 100%; height: 100px; display: block;}
.item-colunista img:hover{opacity: 0.8;}
#header-colunista img {width: 635px; display: block;}


.post-coluna:first-child { border-top: none;}
.post-coluna {margin-bottom: 30px; border-top: 2px dotted gray;}
.post-coluna:last-child { border-top: 2px dotted gray;border-bottom: 2px dotted gray;}

.album-big{height: 200px;overflow: hidden;margin-bottom: 20px;}
.album-big img{width: 311px; height: 200px; display: block;}
.album-big span.caption {width: 91%; padding: 2%; position: absolute; bottom: 20px; background: rgba(0, 92, 36, 0.6); color: #fff; font-size: 15px; line-height: 18px; top: 150px; }

.adsense{margin-bottom: 20px; margin-top: 20px;}

.ad-728x90{width: 728px; height: 90px; display: inline-block; overflow: hidden; }
.ad-225x90{width: 225px; height: 90px; display: inline-block; overflow: hidden; }
.ad-225x262{width: 225px; height: 262px; display: inline-block; overflow: hidden; }
.ad-225x262{width: 300px; height: 250px; display: inline-block; overflow: hidden; }



section#editoria-filtro{background-color: #e9e9e9; border: 1px solid rgba(0, 0, 0, 0.1); padding: 5px 10px 0px; margin-bottom: 15px;}
#editoria-filtro h5 {font-size: 21px;margin-bottom: 0px; margin-top: 0px;}
#editoria-filtro form{margin: 0;}
#editoria-filtro ul.link-list {margin: 0px 0 4px -25px; padding: 0; list-style: none; overflow: hidden; }
.ed_destaque img {height: 210px; width: 315px; margin-bottom: -5px; }

.recomendados img {height: 110px; width: 141px; margin-bottom: -5px; }


.articleConteudo {margin-top: -25px; margin-bottom: 30px; }
#articleBy p{font-size: 12px;}
#articleDate {margin: 20px 0 10px; font-size: 12px; font-weight: bold; color: black; }
#article_recommend {display: block; height: 40px;}
#articleimg {margin-bottom: 10px;}
.subtitulo {font-size: 20px; color: #444; margin: -10px 0 15px 0; line-height: 1.2; }
.fonte p {color: gray; font-size: 12px; }


.fotodestaque{margin: 5px 15px 5px 0;zoom: 1;overflow: hidden;float: left;width: 320px;}
.fotodestaque img{display: block; width: inherit; height: inherit;}
.fotodestaque strong {background: #EEE; display: block; font-weight: normal; padding: .67em; text-align: left; font-style: italic; font-size: 13px; }

.fotodestaqueH{margin: 10px 15px 5px 0;zoom: 1;overflow: hidden;}
.fotodestaqueH img{display: block;width: 100%;}
.fotodestaqueH strong {background: #EEE; display: block; font-weight: normal; padding: .67em; text-align: left; font-style: italic; font-size: 13px; }

.componente_materia {
float: left;
margin: 0 1.75em 2.5em 0;
}

.foto img {
display: block;
}

#album-full .gallery img {width:inherit; height: inherit; display: block; border: 1px solid transparent; -moz-transition: all 0.025s ease; -webkit-transition: all 0.025s ease; -o-transition: all 0.025s ease; transition: all 0.025s ease; }
#album-full .gallery li {display: inline-block; cursor: pointer; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; -moz-transition: all 0.025s ease; -webkit-transition: all 0.025s ease; -o-transition: all 0.025s ease; transition: all 0.025s ease; width: 142px; height: 100px; margin-bottom: 12px; }
#album-full .gallery li:hover {opacity: 0.7}
#album-full .gallery li:hover img {border: 1px solid #005c24; }

#glisse-close {display: none; }
#glisse-controls {position: fixed; bottom: 0; left: 0; right: 0; height: 40px; font-size: 13px; font-weight: bold; color: #fff; border-top: 1px solid #2d2f35; text-shadow: 0 -1px 0 #333333; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(87, 90, 98, 0.9)), color-stop(100%, rgba(62, 65, 72, 0.9))); background-image: -webkit-linear-gradient(rgba(87, 90, 98, 0.9), rgba(62, 65, 72, 0.9)); background-image: -moz-linear-gradient(rgba(87, 90, 98, 0.9), rgba(62, 65, 72, 0.9)); background-image: -o-linear-gradient(rgba(87, 90, 98, 0.9), rgba(62, 65, 72, 0.9)); background-image: -ms-linear-gradient(rgba(87, 90, 98, 0.9), rgba(62, 65, 72, 0.9)); background-image: linear-gradient(rgba(87, 90, 98, 0.9), rgba(62, 65, 72, 0.9)); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 3px rgba(0, 0, 0, 0.7); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 3px rgba(0, 0, 0, 0.7); -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 3px rgba(0, 0, 0, 0.7); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 3px rgba(0, 0, 0, 0.7); }
.glisse-next a, .glisse-prev a {position: absolute; display: block; left: 0; height: 39px; width: 39px; font-family: 'WebSymbolsRegular'; line-height: 40px; color: white; font-size: 16px; text-align: center; text-decoration: none; text-shadow: 0 -1px 0 black; }
.glisse-next a:active, .glisse-prev a:active {text-shadow: 0 0 30px white, 0 0 10px white; }
.glisse-prev a {border-right: 1px solid #2d2f35; -moz-box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.15); -webkit-box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.15); -o-box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.15); box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.15); }
.glisse-next a {left: auto; right: 0; border-left: 1px solid #2d2f35; -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.15); -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.15); -o-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.15); box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.15); }
.glisse-legend {text-overflow: ellipsis; overflow: hidden; white-space: nowrap; position: absolute; top: 0; bottom: 0; left: 40px; right: 40px; text-align: center; line-height: 40px; }

#cinema-item {}
#cinema-slider{margin-bottom: 30px; margin-top: 15px;}
.cinema-info p{margin-bottom: 5px}
.cinema-info p:last-child{margin-bottom: 5px;position: relative;}
.cinema-info {background: #f2f2f2; border: solid 1px #e6e6e6; margin: 0px 0 22px 0; padding: 5px 8px 0px; height: 155px; width: 100%; }
.cinema-info #b1{height: 95px;}
#cinema-item h6 {text-align: center; color: #005c24;background: #f2f2f2;border: solid 1px #e6e6e6;padding: 5px;margin: 0;height: 41px;}
#cinema-item > .label-title {padding: 1px 4px 2px; font-size: 20px; font-weight: bold; text-align: center; text-decoration: none; line-height: 1; white-space: nowrap; display: inline; position: relative; bottom: 3px; color: #fff; background: #005c24; }

.cartaz-cine{float: left;}
.cartaz-cine img{width: 197px; height: 308px; display: block; overflow: hidden;}
.cinema-info{float: left;}

#sinopse p{margin-bottom: 5px;}

.bloco-filtro {background-color: #e9e9e9; border: 1px solid rgba(0, 0, 0, 0.1); padding: 5px 10px 0px; margin-bottom: 10px; }
.bloco-filtro h5 {font-size: 15px; margin-bottom: 0px; margin-top: 2px; float: left; }
.bloco-filtro form{margin: -5.1px 0 -8px;}


.big-especial span.caption {width: 95%; padding: 2%; position: absolute; bottom: 25px; background: rgba(0, 92, 36, 0.8); color: #fff; font-weight: bold; line-height: 14px; top: 280px; font-size: 14px; }

.big-especial img{width: 680px;
display: block;
height: 325px;}



.p-print{margin-bottom: 0; direction: rtl;float: right; margin-top: 7px;}

.btnsarticle { padding: 10px; color: #666666; font-family: helvetica; font-size: 13px; font-weight: normal; border: 1px solid #d3d1c8; background: #faf9f7; }
.btnsarticle:hover{opacity: 0.8; color: #666666;}

#btnArt li a i{background: url(../images/icons-btn.png) no-repeat; text-indent: -9999em; width: 22px; float: left; -webkit-background-size: 70px auto; -moz-background-size: 70px auto; background-size: 70px auto; height: 23px; display: inline-block; }
#btnArt li a:hover { opacity: .8; }
#btnArt i#print { background-position: -2px 0; }
#btnArt i#email { background-position: -50px 0; }
#btnArt i#comentario { background-position: -25px 0; }





@media only screen and (min-width: 768px) and (max-width: 1024px){

.flexslider .slides img {height: 265px !important; }
h3 {font-size: 20px;}
h5 {font-size: 13px; }
h6.categoria {font-size: 14px; }
ul.menu li a {font-size: 17px; }
.label-title {font-size: 19px; }
.flex-caption {width: 100% !important; padding: 2%; font-weight: bold; position: absolute; left: 0; bottom: 0; background: rgba(0, 92, 36, 0.8); color: #fff; font-size: 14px; line-height: 18px; }
.caption {width: 90.5%; top: 85px; font-size: 12px; }
.caption1 {width: 88.2%; top: 85px; font-size: 12px; }
.big {height: 120px; overflow: hidden; }
.big img{height: 120px;display: block;width: 100%;}
.small {height: 120px; overflow: hidden; }
.small img{height: 120px; display: block; width: 100%; }
.medium-last {max-height: 59px; }
.album-big span.caption {width: 88.2%; top: 155px; font-size: 12px; }
.big-especial span.caption {width: 93.2%; top: 225px; font-size: 12px; }
.big-especial img {height: 265px !important; }

.fotodestaque{margin: 5px 15px 5px 0;zoom: 1;overflow: hidden;float: left;width: 215px;}
}








@media only screen and (max-width: 767px){
h3 {font-size: 22px;}
h5{font-size: 13px;}
.mobile-off{display: none;}
.mobile-on{display: block;}

.fotodestaque{margin: 5px 15px 5px 0;zoom: 1;overflow: hidden;float: left;width: 100%;}

.flex-caption {width: 100%; padding: 2%; font-weight: bold; position: absolute; left: 0; bottom: 0; background: rgba(0, 92, 36, 0.8); color: #fff; font-size: 14px; line-height: 18px; }

.caption1 {width: 92.5%; padding: 2%; position: absolute; bottom: 25px; background: rgba(0, 92, 36, 0.6); color: #fff; font-weight: bold; line-height: 13px; top: 112px; font-size: 14px; }



p.pmobile{color: black; line-height: 1.2;}

#editoria-filtro ul.link-list {margin: 10px 0 8px -20px;}
#editoria-filtro h5 {font-size: 17px;margin: 5px 0;}
#editoria-filtro form{margin: 0; position: relative; left: 0px; top: 4px;}
.ed_destaque img, .recomendados img {height: 110px; width: 315px; margin-bottom: -5px; }

.medium-two { height: 60px; overflow: hidden; border-bottom: 1px dotted gray; }
.m-bottom {margin-bottom: 25px; }
.item-col:first-child {margin-left: 0px; }
.flexslider{margin-bottom: 25px !important;}

.flexslider .slides img {width: 680px; display: block; height: 200px !important; margin-bottom: 0px; }

.bg-colunistas {background: #f2f2f2; border: solid 1px #e6e6e6; margin: 10px 0 22px 0; padding: 20px 20px 0px; }

.album-big{height: 135px;overflow: hidden;margin-bottom: 20px;}
.album-big img{width: 311px; height: 135px; display: block;}
.album-big span.caption {width: 85%; padding: 2%; position: absolute; bottom: 20px; background: rgba(0, 92, 36, 0.6); color: #fff; line-height: 16px; top: 97px; font-size: 12px; }
.label-title {font-size: 20px;}

#album-full .gallery li {width: 89px; height: 53px; margin-bottom: 0px; }

.cartaz-cine img{width: 162px; height: 225px; display: block; overflow: hidden;}

.button.green{padding: 8px 13px 11px;}


}
