{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_static %}


{% load upload_tags %}
{% load albuns %}

{% block extrahead %}
 <link rel="stylesheet" href="/media/css/bootstrap.min.css">
<link rel="stylesheet" href="/media/css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="/media/css/bootstrap-image-gallery.min.css">
<link rel="stylesheet" href="/media/css/jquery.fileupload-ui.css">
{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="/full128/">Início</a>
› <a href="/full128/multimidia/">Multimidia</a>
› <a href="/full128/multimidia/album/">Albuns</a>
› Adicionar Imagens
</div>
{% endblock %}
{% endif %}

{% block content %}
{% get_album form.album.value %}
<div class="container">
    
        <h1>{{ album.titulo }}</h1>
    <form id="fileupload" method="post"  enctype="multipart/form-data">{% csrf_token %}
        <div class="row fileupload-buttonbar">
            <div class="span7">
                <span class="btn btn-primary fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Add files...</span>
                    <input type="file" name="foto" multiple>
                    {{ form.album }}
                </span>
                <button type="submit" class="btn btn-success start">
                    <i class="icon-upload icon-white"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Cancel upload</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="icon-trash icon-white"></i>
                    <span>Delete files</span>
                </button>
                <input type="checkbox" class="toggle">
            </div>
            <div class="span5 fileupload-progress fade">
                <div class="progress progress-success progres-striped active">
                    <div class="bar" style="width:0%"><p>kkkk</p></div>
                </div>
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <div class="fileupload-loading"></div>
        <table class="table table-striped">
            <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
                {% for foto in album.foto_set.all %}
                <tr class="template-download fade in" style="height: 53px;">
                    <td class="preview">
                        <a download="{{ foto.titulo }}" rel="gallery" title="{{ foto.titulo }}" href="{{ foto.get_image }}">
                            <img src="{{ foto.get_image }}" style="width: 100px" ></a>
                    </td>
                    <td class="name">
                        <a download="{{ foto.titulo }}" rel="gallery" title="{{ foto.titulo }}" href="{{ foto.get_image }}">{{ foto.titulo }}</a>
                    </td>
                    <td class="size"><span></span></td>
                    <td colspan="2"></td>

                    <td class="delete">
                        <button data-url="/nup/delete/{{ foto.id }}" data-type="DELETE" class="btn btn-danger">
                            <i class="icon-trash icon-white"></i>
                            <span>Delete</span>
                        </button>
                        <input type="checkbox" value="1" name="delete">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    <div class="fileupload-content">
        <table class="files"></table>
        <div class="fileupload-progressbar"></div>
    </div>
</div>
<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" data-filter=":odd">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn modal-download" target="_blank">
            <i class="icon-download"></i>
            <span>Download</span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
            <i class="icon-play icon-white"></i>
            <span>Slideshow</span>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="icon-arrow-left icon-white"></i>
            <span>Previous</span>
        </a>
        <a class="btn btn-primary modal-next">
            <span>Next</span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
    </div>
</div>
{% upload_js %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/media/javascripts/jquery.ui.widget.js"></script>
<script src="/media/javascripts/tmpl.min.js"></script>
<script src="/media/javascripts/load-image.min.js"></script>
<script src="/media/javascripts/canvas-to-blob.min.js"></script>
<script src="/media/javascripts/bootstrap.min.js"></script>
<script src="/media/javascripts/bootstrap-image-gallery.min.js"></script>
<script src="/media/javascripts/jquery.iframe-transport.js"></script>
<script src="/media/javascripts/jquery.fileupload.js"></script>
<script src="/media/javascripts/jquery.fileupload-fp.js"></script>
<script src="/media/javascripts/jquery.fileupload-ui.js"></script>
<script src="/media/javascripts/locale.js"></script>
<script src="/media/javascripts/jquery.validate.min.js"></script>
<script src="/media/javascripts/main.js"></script>
<script src="/media/javascripts/csrf.js"></script>
{% endblock %}
