{% load thumbs_filters %}
{% load cache %}
{% cache 900 albuns album.id %}
<div class="albuns">
        <link rel="stylesheet" href="/media/css/basic.css" type="text/css" />
        <link rel="stylesheet" href="/media/css/galleriffic-5.css" type="text/css" />
          
        <link rel="stylesheet" href="/media/css/black.css" type="text/css" />
        
        <script type="text/javascript" src="/media/js/jquery-1.6.1.min.js"></script>
        <script type="text/javascript" src="/media/js/jquery.history.js"></script>
        <script type="text/javascript" src="/media/js/jquery.galleriffic.js"></script>
        <script type="text/javascript" src="/media/js/jquery.opacityrollover.js"></script>
        
          <div id="page">
            <div id="container">
              <!-- Start Advanced Gallery Html Containers -->       
              <div class="content ajuste">
                <div class="slideshow-container">
                  <div id="controls" class="controls"></div>
                  <div id="loading" class="loader"></div>
                  <div id="slideshow" class="slideshow"></div>
                </div>
                <!--<div id="caption" class="caption-container"></div>-->
              </div>
              
              <div class="navigation-container">
                <div id="thumbs" class="navigation">
                  <a class="pageLink prev" style="visibility: hidden;" href="#" title="Previous Page"></a>
                
                  <ul class="thumbs noscript">
                    <li>
                      <a class="thumb" name="{{ album.slug }}" href="{{ album.foto_destaque|crop:"width=640,height=480" }}" title="{{ album.titulo }}">
                        <img src="{{ album.foto_destaque|crop:"width=100,height=75" }}" alt="{{ album.titulo }}" width="75" height="75" />
                      </a>
                      <div class="caption">
                        <div class="image-desc">{{ album.titulo }} </div>
                      </div>
                    </li>
                    
                    {% for foto in album.foto_set.all %}
                      <li>
                        <a class="thumb" name="foto{{ foto.id }}" href="{{ foto.foto|crop:"width=640,height=480" }}" title="{{ foto.legenda }}">
                          <img src="{{ foto.foto|crop:"width=100,height=75" }}" alt="{{ foto.legenda }}" width="75px" height="75px" />
                        </a>
                        <div class="caption">
                          <div class="image-desc">{{ foto.legenda }}</div>
                        </div>
                      </li>
                    {% endfor %}
        
                  </ul>
                  <a class="pageLink next" style="visibility: hidden;" href="#" title="Next Page"></a>
                </div>
              </div>
            </div>
          </div>
        <script type="text/javascript" src="/media/js/album.js"></script>
      </div>
{% endcache %}      