{% extends "base.html" %}
{% block extra_head_content  %}
    <meta property="og:site_name" content="Capital Teresina" />
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="fb:app_id" content="393767570714772" />
    <meta property="og:url" content="http://www.capitalteresina.com.br/{{ request.get_full_path }}" />
    <meta property="og:title" content="{{ album.titulo }} - Capital Teresina" />
    <meta property="og:image" content="http://www.capitalteresina.com.br/media/{{ album.foto_destaque }}" />
    <meta property="og:description" content="{{ album.titulo }}" />
    <meta property="article:published_time" content="{{ album.publicado_em|date:'Y-m-d'}}" />
    <meta property="article:modified_time" content="{{ album.publicado_em|date:'Y-m-d'}}" />

{% endblock %}
{% block extracss %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/foundation.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/estilo.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/flexslider.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/glisse.css">
{% endblock %}
{% block seo  %}
    <meta name="description" content="{{ album.titulo }} - Capital Teresina" />
    <meta name="keywords" content="capital teresina, capital teresina site, capital teresina portal" />
{% endblock %}
{% block title %}{{ album.titulo }} - Capital Teresina{% endblock %}
{% block content %}
  <section class="conteudo">
    <section id="albuns">
      <div class="row">
        <div class="twelve columns">
            <span class="label-title"><a href=""># {{ album.titulo }}</a></span>
            {% if album.creditos %}<p class="meta-tags"><span class="secondary label">Fotos por: {{ album.creditos }}</span></p>{% endif %}
            <div class="row">
              <div class="twelve columns">
                <div id="album-full">
                  <ul class="gallery">
                   {% for foto in album.foto_set.all %}
                      <li><img src="{{ foto.get_thumb }}" class="myphotos" rel="group1" data-glisse-big="{{ foto.get_foto }}" title="{{ foto.legenda }}" /></li>
                   {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
  </section>

{% endblock %}

{% block extrajs %}
  <!-- Included JS Files (Compressed) -->
  <script src="{{ MEDIA_URL }}javascripts/jquery.js"></script>
  <script src="{{ MEDIA_URL }}javascripts/foundation.min.js"></script>

  <!-- Initialize JS Plugins -->
  <script src="{{ MEDIA_URL }}javascripts/app.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}javascripts/flexslider.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}javascripts/glisse.js"></script>
<!--  <script type="text/javascript" src=" http://capitalteresina.com.br/media/js/jquery.socialist.js"></script>-->

  <script type="text/javascript">
      $(document).ready(function() {
          $('#main-slider').flexslider({animation: 'fade', controlsContainer: '.flex-container'});
      });
  </script>

  <script>
    $(function () {
        $('.myphotos').glisse({speed: 500, changeSpeed: 550, effect:'bounce', fullscreen: false});
    });
  </script>
{% endblock %}


