{% extends "base.html" %}
{% block title %}Álbuns - Capital Teresina{% endblock %}
{% block seo  %}
    <meta name="description" content="Álbuns - Capital Teresina" />
    <meta name="keywords" content="capital teresina, capital teresina site, capital teresina portal" />
{% endblock %}
{% block content %}

  <section class="conteudo">
    <section id="albuns">
      <div class="row">
        <div class="eight columns">
            <span class="label-title"><a href=""># Albuns de fotos</a></span>
            <div class="row">
              {% for album in albuns %}
              {% if forloop.last %}
                <div class="six columns mobile-two end">
              {% else %}
                <div class="six columns mobile-two">
              {% endif %}
                <div class="album-big">
                  <a href="{{ album.get_absolute_url }}">
                     <img src="{{ album.get_big_interna }}">
                     <span class="caption">{{ album.titulo }}</span>
                  </a>
                </div>
              </div>
                {% endfor %}
            </div>

            <div class="row">
              <div class="twelve columns">
                <div class="pagination-centered">
                  <ul class="pagination">
                      {% if albuns.has_previous %}
                          <li class="arrow"><a href="?q={{ queryb }}&page={{ albuns.previous_page_number }}">&laquo;</a></li>
                      {% endif %}
                      {% for num in albuns.paginator.page_range %}
                          {% ifequal num albuns.number %}
                              <li class="current"><a href="">{{ num }}</a></li>
                          {% else %}
                              {% if num <= albuns.number|add:2 and num >= albuns.number|add:-2 %}
                                  <li><a href="?q={{ queryb }}&page={{ num }}">{{ num }}</a></li>
                              {% endif %}
                          {% endifequal %}
                      {% endfor %}
                      {% if albuns.has_next %}
                          <li class="arrow"><a href="?q={{ queryb }}&page={{ albuns.next_page_number }}">&raquo;</a></li>
                      {% endif %}
                  </ul>
                </div>
              </div>
            </div>
            <hr>
        </div>

          {% include "componentes/sidebar.html" %}
      </div>
    </section>

  </section>
{% endblock %}
