{% extends "base.html" %}

{% block title %}404 Página não encontrada - Capital Teresina{% endblock %}

{% block seo %}
    <meta name="description" content="Capital Teresina - O novo sempre vem." />
    <meta name="keywords" content="capital teresina, teresina capital, capital teresina portal, capital teresina site, capital teresina jornal, capital teresina revista" />
{% endblock %}

{% block content %}
    <body>
    <div>
        <div class="full">
            <div id="mother">
                <div id="errorBox">
                    <a href="http://capitalteresina.com.br/" title="Inicio">
                        <div class="link" id="home"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
