<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>{% block title %}Capital Teresina{% endblock %}</title>

    <!-- Included CSS Files (Uncompressed) -->
    <!--
    <link rel="stylesheet" href="stylesheets/foundation.css">
    -->
    {% block extra_head_content %}{% endblock %}
    {% block extracss %}
    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/foundation.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/estilo.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/flexslider.css">
 <!--   <link rel="stylesheet" href="http://capitalteresina.com.br/media/css/jquery.socialist.css"> -->
    {% endblock %}
    {% block seo %}
    <meta name="description" content="Notícias com jornalismo aprofundando sobre os principais fatos de Teresina e Piauí - Capital Teresina" />
    <meta name="keywords" content="capital teresina, site capital teresina, editora capital teresina, teresina capital, capital teresina portal, capital teresina site, capital teresina jornal, capital teresina revista" />
    {% endblock %}

    <script src="{{ MEDIA_URL }}javascripts/modernizr.foundation.js"></script>
    <link rel="shortcut icon" href="/media/images/favicon.ico" type="image/x-icon"  />
    <!-- AddThis Smart Layers BEGIN -->
    <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5229ccc8349064cc"></script>
    <script type="text/javascript">
        addthis.layers({
            'theme' : 'transparent',
            'follow' : {
                'services' : [
                    {'service': 'facebook', 'id': 'capitalteresina'},
                    {'service': 'twitter', 'id': 'capitalteresina'}
                ]
            }
        });
    </script>
    <!-- AddThis Smart Layers END -->
    <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-36795756-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>

</head>
<body>
{% block fb %}{% endblock %}
<div>
    <div class="full">
        {% include "componentes/header.html" %}
        <!-- /section:headlines -->
        {% block content %}
        {% endblock %}
    </div>
</div>
{% include "componentes/footer.html" %}
{% block extrajs %}
    <!-- Included JS Files (Compressed) -->
    <script src="{{ MEDIA_URL }}javascripts/jquery.js"></script>
    <script src="{{ MEDIA_URL }}javascripts/foundation.min.js"></script>

    <!-- Initialize JS Plugins -->
    <script src="{{ MEDIA_URL }}javascripts/app.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}javascripts/flexslider.js"></script>
    <!--<script type="text/javascript" src=" http://capitalteresina.com.br/media/js/jquery.socialist.js"></script>-->

    <script type="text/javascript">
        $(document).ready(function() {
            $('#main-slider').flexslider({animation: 'fade', controlsContainer: '.flex-container'});
        });
    </script>

    <script>
        $(function () {
            $('.myphotos').glisse({speed: 500, changeSpeed: 550, effect:'bounce', fullscreen: false});
        });
    </script>
{% endblock %}
</body>
</html>
