{% extends "base.html" %}
{% block content %}

  <section class="conteudo">
   <section id="contatos">
       <div class="row">
         <div class="twelve columns">
           <h3>Entre em contato conosco</h3>
           <div class="row">
             <div class="six columns">
               <form class="contatos" action="{% url "views.contato" %}" method="post">{% csrf_token %}
                 <hr>
                 <label class="">Nome</label>
                 <input class="" name="nome" maxlength="60" type="text" value="" placeholder="seu nome">
                   {{ form.nome.errors }}
                 <label class="">Email</label>
                 <input class="" name="email" maxlength="100" type="email" value="" placeholder="seu email">
                   {{ form.email.errors }}
                 <label class="">Setor:</label>
                 <select name="setor" id="setor">
                    <option>Selecione</option>
                    <option>Publicidade</option>
                    <option>Reclamações</option>
                    <option>Editoriais</option>
                    <option>Contato</option>
                 </select><br><br>
                   {{ form.setor.errors }}
                 <label class="">Comentário</label>
                 <textarea class="" name="mensagem" id="textarea" placeholder="deixe seu comentário aqui" cols="1000" rows="10" style="height:70px"></textarea>
                   {{ form.mensagem.errors }}
                 <button class="button green" type="submit" >Enviar</button>

               </form>
             </div>

             <div class="six columns mobile-off">
               <div class="google-maps">
                   <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=207156819037034669220.0004e476bed9c47438e1f&amp;ie=UTF8&amp;ll=-5.093285,-42.809472&amp;spn=0,0&amp;t=m&amp;output=embed"></iframe><br /><small>Visualizar <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=207156819037034669220.0004e476bed9c47438e1f&amp;ie=UTF8&amp;ll=-5.093285,-42.809472&amp;spn=0,0&amp;t=m&amp;source=embed" style="color:#0000FF;text-align:left">
               </div>
             </div>
           </div>
         </div>
       </div>
     </section>
  </section>
{% endblock %}
