{% extends "base.html" %}
{% load materias_tags %}
{% block extracss %}
    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/foundation.css">
    <link href="{{ MEDIA_URL }}stylesheets/jquery.socialist.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/estilo.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/flexslider.css">
    <!--   <link rel="stylesheet" href="http://capitalteresina.com.br/media/css/jquery.socialist.css"> -->
{% endblock %}
  {% block content %}
  <section class="conteudo">
    <section id="news-destaque-img">
      <div class="row">
        <div class="seven columns">
          <div class="flexslider bt" id="main-slider">
            <ul class="slides">
              {% for destaque in destaques %}
              <li>
                  <a href="{{ destaque.get_absolute_url }}">
                      <img src="{{ destaque.get_destaque_principal }}" alt="{{ destaque.titulo }}">
                      <span class="flex-caption">{{ destaque }}</span>
                  </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="five columns">
          <div id="bloco-news">
            <div class="row">
              <div class="twelve columns">
                <div class="big bt">
                  <a href="{{ destaque_secundario.get_absolute_url }}" title="{{ destaque_secundario.titulo }}">
                    <img src="{{ destaque_secundario.get_destaque_secundario }}">
                    <span class="caption">{{ destaque_secundario.titulo }}</span>
                  </a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="six columns mobile-two">
                <div class="news-small small bt">
                  <a href="{{ destaque_3.0.get_absolute_url }}" title="{{ destaque_3.0.titulo }}">
                      <img src="{{ destaque_3.0.get_destaque_small }}">
                      <span class="desc" title="{{ destaque_3.0.titulo }}">{{ destaque_3.0.titulo }}</span>
                   </a>
                </div>
              </div>

              <div class="six columns mobile-two">
                <div class="news-small small bt">
                   <a href="{{ destaque_3.1.get_absolute_url }}" title="{{ destaque_3.1.titulo }}">
                       <img src="{{ destaque_3.1.get_destaque_small }}">
                       <span class="desc" title="{{ destaque_3.1.titulo }}">{{ destaque_3.1.titulo }}</span>
                   </a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section id="news-destaque-text destaques">
      <div class="row">
        <div class="six columns">
          <div class="medium-two bt">
            <h6 class="categoria">{{ destaque_13.chapeu|lower }}</h6>
            <h5 class="titdestaque">
              <a href="{{ destaque_13.get_absolute_url }}" title="{{ destaque_13.titulo }}">{{ destaque_13.titulo }}</a>
            </h5>
          </div>
        </div>


        <div class="six columns">
          <div class="row">
            <div class="six columns">
              <div class="medium-two bt">
                <h6 class="categoria">{{ destaque_14.chapeu|lower }}</h6>
                <h5>
                  <a href="{{ destaque_14.get_absolute_url }}" title="{{ destaque_14.titulo }}">{{ destaque_14.titulo }}</a>
                </h5>
              </div>
            </div>

            <div class="six columns">
              <div class="medium-two bt">
                <h6 class="categoria">{{ destaque_15.chapeu|lower }}</h6>
                <h5>
                  <a href="{{ destaque_15.get_absolute_url }}" title="{{ destaque_15.titulo }}">{{ destaque_15.titulo }}</a>
                </h5>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>


    <section id="news-destaque-text">
      <div class="row">
        <div class="four columns">
            <div class="big bt">
                <a href="{{ destaque_4.get_absolute_url }}">
                    <img src="{{ destaque_4.get_destaque_intermediate }}">
                    <span class="caption1">{{ destaque_4.titulo }}</span>
                </a>
            </div>
        </div>

          <div class="four columns">
              <div class="big bt">
                  <a href="{{ destaque_5.get_absolute_url }}">
                      <img src="{{ destaque_5.get_destaque_intermediate }}">
                      <span class="caption1">{{ destaque_5.titulo }}</span>
                  </a>
              </div>
          </div>

          <div class="four columns">
              <div class="big bt">
                  <a href="{{ destaque_6.get_absolute_url }}">
                      <img src="{{ destaque_6.get_destaque_intermediate }}">
                      <span class="caption1">{{ destaque_6.titulo }}</span>
                  </a>
              </div>
          </div>


      </div>
    </section>

    <section id="publicidade" class="mobile-off">
        <div class="row">
          <div class="nine columns">
              {% if publicidades.url %}<a href="{{ publicidades.url }}">{% endif %}<embed class="ad-728x90 bt"src="/media/{{ publicidades.arquivo }}" />{% if publicidades.url %}</a>{% endif %}
          </div>
          <div class="three columns">
              {% if publicidades_1 %}<a href="{{ publicidades_1.url }}">{% endif %}<embed class="ad-225x90 bt" src="/media/{{ publicidades_1.arquivo }}"/>{% if publicidades_1 %}</a>{% endif %}
          </div>
        </div>
    </section>

    <section id="fotos-last">
      <div class="row">

        <div class="five columns push-seven bt">
            <span class="label-title"><a href="/noticias/">Últimas Notícias + </a></span>
            <div class="row">
            {% for ultima in ultimas %}
              <div class="twelve columns">
                <div class="medium-last {% cycle '' '' '' '' 'm-botton' %}">
                  <h6 class="categoria"># {{ ultima.secao.nome|lower }}</h6>
                  <h5>
                    <a href="{{ ultima.get_absolute_url }}" title="{{ ultima.titulo }}">{{ ultima.titulo }}</a>
                  </h5>
                </div>
              </div>
            {% endfor %}
            </div>
        </div>

        <div class="seven columns pull-five bt">
          <span class="label-title"><a href="/albuns/"># Fotos</a></span>
          <div class="panel">
            <div class="row">
              <div class="seven mobile-two columns">
                <div class="album-thumb small">
                  <a href="{{ albuns.0.get_absolute_url }}" title="{{ albuns.0.titulo }}">
                      <img src="{{ albuns.0.get_big }}" width="100%" alt="{{ albuns.0.titulo }}" title="{{ albuns.0.titulo }}">
                      <span class="desc" title="{{ albuns.0.titulo }}">{{ albuns.0.titulo }}</span>
                   </a>
                </div>
              </div>

              <div class="five mobile-two columns">
                <div class="album-thumb small">
                  <a href="{{ albuns.1.get_absolute_url }}" title="{{ albuns.1.titulo }}">
                      <img src="{{ albuns.1.get_medium }}" width="100%" alt="{{ albuns.1.titulo }}" title="{{ albuns.1.titulo }}">
                      <span class="desc" title="{{ albuns.1.titulo }}">{{ albuns.1.titulo }}</span>
                   </a>
                </div>
              </div>

              <div class="four mobile-two columns">
                <div class="album-thumb small">
                  <a href="{{ albuns.2.get_absolute_url }}" title="{{ albuns.2.titulo }}">
                      <img src="{{ albuns.2.get_small }}" width="100%" alt="{{ albuns.2.titulo }}" title="{{ albuns.2.titulo }}">
                      <span class="desc" title="{{ albuns.2.titulo }}">{{ albuns.2.titulo }}</span>
                   </a>
                </div>
              </div>

              <div class="four mobile-two columns">
                <div class="album-thumb small">
                  <a href="{{ albuns.3.get_absolute_url }}" title="{{ albuns.3.titulo }}">
                      <img src="{{ albuns.3.get_small }}" width="100%" alt="{{ albuns.3.titulo }}" title="{{ albuns.3.titulo }}">
                      <span class="desc" title="{{ albuns.3.titulo }}">{{ albuns.3.titulo }}</span>
                   </a>
                </div>
              </div>

              <div class="four mobile-two columns mobile-off">
                <div class="album-thumb small">
                  <a href="{{ albuns.4.get_absolute_url }}" title="{{ albuns.4.titulo }}">
                      <img src="{{ albuns.4.get_small }}" width="100%" alt="{{ albuns.4.titulo }}" title="{{ albuns.4.titulo }}">
                      <span class="desc" title="{{ albuns.4.titulo }}">{{ albuns.4.titulo }}</span>
                   </a>
                </div>
              </div>
            </div>
          </div>
        </div>




      </div>
    </section>

    <section id="news-destaque-text">
      <div class="row">
        <div class="three columns">
          <div class="medium-two bt">
            <h6 class="categoria">{{ destaque_7.chapeu|lower }}</h6>
            <h5>
              <a href="{{ destaque_7.get_absolute_url }}" title="{{ destaque_7.titulo }}">{{ destaque_7.titulo }}</a>
            </h5>
          </div>
        </div>

        <div class="three columns">
          <div class="medium-two bt">
            <h6 class="categoria">{{ destaque_8.chapeu|lower }}</h6>
            <h5>
              <a href="{{ destaque_8.get_absolute_url }}" title="{{ destaque_8.titulo }}">{{ destaque_8.titulo }}</a>
            </h5>
          </div>
        </div>

        <div class="three columns">
          <div class="medium-two bt">
            <h6 class="categoria">{{ destaque_9.chapeu|lower }}</h6>
            <h5>
              <a href="{{ destaque_9.get_absolute_url }}" title="{{ destaque_9.titulo }}">{{ destaque_9.titulo }}</a>
            </h5>
          </div>
        </div>

        <div class="three columns">
          <div class="medium-two bt">
            <h6 class="categoria">{{ destaque_10.chapeu|lower }}</h6>
            <h5>
              <a href="{{ destaque_10.get_absolute_url }}" title="{{ destaque_10.titulo }}">{{ destaque_10.titulo }}</a>
            </h5>
          </div>
        </div>
      </div>
    </section>

    <section id="colunistas">

      <div class="row">
        <div class="nine columns mobile-off">
          <div class="row">
            <div class="twelve columns">
              <span class="label-title"><a href="/colunas/"># Colunistas</a></span>
              <div class="bg-colunistas bt">
                <div class="row" >
                  {% for coluna in colunas %}
                  {% if forloop.last %}
                  <div class="two mobile-two columns item-col end">
                  {% else %}
                  <div class="two mobile-two columns item-col">
                  {% endif %}
                    <a href="{{ coluna.get_absolute_url }}" target="_self" class="image">
                       <img src="{{ coluna.get_image_small }}" alt="{{ coluna.secao }}" title="{{ coluna.secao }}" class="lazy-load">
                    </a>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="three columns">
            <div class="charge bt">
                <span class="label-title"><a href="/colunas/dino-alves/"># Charge</a></span>
                <a href="{{ charge.0.get_absolute_url }}">
                    <img src="/media/{{ charge.0.primeira_foto }}">
                </a>
            </div>
        </div>
        <div class="mobile-on">
            <div class="two columns mobile-on bt">
                <div id="menu-mobile">
                    <div href="/colunas/" class="button dropdown menu-m">
                        Colunistas
                        <ul>
                        {% for coluna in colunas %}
                            <li><a href="{{ coluna.get_absolute_url }}">{{ coluna.secao }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>

    </section>

    <section id="news-destaque-img">
        <div class="row">
            <div class="twelve columns">
                <span class="label-title"><a href=""># Especias</a></span>
                <div class="row">
                    <div class="five columns">
                        <div id="bloco-news">
                            <div class="row">
                                <div class="six columns mobile-two">
                                    <div class="news-small small bt">
                                        <a href="{{ destaque_11.0.get_absolute_url }}" title="{{ destaque_11.0.titulo }}">
                                            <img src="{{ destaque_11.0.get_destaque_small }}">
                                            <span class="desc" title="{{ destaque_11.0.titulo }}">{{ destaque_11.0.titulo }}</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="six columns mobile-two">
                                    <div class="news-small small bt">
                                        <a href="{{ destaque_11.1.get_absolute_url }}" title="{{ destaque_11.1.titulo }}">
                                            <img src="{{ destaque_11.1.get_destaque_small }}">
                                            <span class="desc" title="{{ destaque_11.1.titulo }}">{{ destaque_11.1.titulo }}</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="six columns mobile-two">
                                    <div class="news-small small bt">
                                        <a href="{{ destaque_11.2.get_absolute_url }}" title="{{ destaque_11.2.titulo }}">
                                            <img src="{{ destaque_11.2.get_destaque_small }}">
                                            <span class="desc" title="{{ destaque_11.2.titulo }}">{{ destaque_11.2.titulo }}</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="six columns mobile-two">
                                    <div class="news-small small bt">
                                        <a href="{{ destaque_11.3.get_absolute_url }}" title="{{ destaque_11.3.titulo }}">
                                            <img src="{{ destaque_11.3.get_destaque_small }}">
                                            <span class="desc" title="{{ destaque_11.3.titulo }}">{{ destaque_11.3.titulo }}</span>
                                        </a>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>

                    <div class="seven columns">
                        <div class="big-especial bt">
                            <a href="{{ destaque_12.get_absolute_url }}">
                                <img src="{{ destaque_12.get_destaque_principal }}" alt="{{ destaque_12.titulo }}">
                                <span class="caption">{{ destaque_12.titulo }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>

    <section id="social" class="mobile-off">
      <div class="row">
        <div class="twelve columns">
          <span class="label-title"><a href=""># Capital Teresina no facebook</a></span>
            <hr>
        </div>
        <div class="" id="content"></div>
      </div>
    </section>
  </section>
  {% endblock %}
{% block extrajs %}
    <!-- Included JS Files (Compressed) -->
    <script src="{{ MEDIA_URL }}javascripts/jquery.js"></script>
    <script src="{{ MEDIA_URL }}javascripts/foundation.min.js"></script>
    <script src='{{ MEDIA_URL }}javascripts/jquery.socialist.js'></script>
    <!-- Initialize JS Plugins -->
    <script src="{{ MEDIA_URL }}javascripts/app.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}javascripts/flexslider.js"></script>
    <!--<script type="text/javascript" src=" http://capitalteresina.com.br/media/js/jquery.socialist.js"></script>-->

    <script type="text/javascript">
        $(document).ready(function() {
            $('#main-slider').flexslider({animation: 'fade', controlsContainer: '.flex-container'});
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#content').socialist({
                networks: [
                    {name:'facebook',id:'capitalteresina'}
                ],
                isotope:true,
                maxResults:5

            });
        });
    </script>
    <script>
        $(function () {
            $('.myphotos').glisse({speed: 500, changeSpeed: 550, effect:'bounce', fullscreen: false});
        });
    </script>
{% endblock %}
