{% extends 'base.html' %}
{% block title %}Infográficos - Capital Teresina{% endblock %}
{% block seo %}
    <meta name="description" content="Infográficos - Capital Teresina" />
    <meta name="keywords" content="capital teresina, capital teresina site, capital teresina portal" />
{% endblock %}
{% block content %}

    <section class="conteudo" xmlns="http://www.w3.org/1999/html">
    <section id="albuns">
      <div class="row">
        <div class="eight columns">
            <span class="label-title"># Infográficos</span>

            <div class="row">
            {% for infografico in infograficos %}
              <div class="twelve columns">
                  <div class="fotodestaque">
                     <h4>{{ infografico.materia.titulo }}</h4>
                      <div class="article_recommend mobile-off">
                          <iframe class="addthis_button_facebook_like" src="http://www.facebook.com/plugins/like.php?href=http://www.capitalteresina.com.br{{ infografico.get_absolute_url }}&amp;width=450&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;send=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
                      </div>


                    {% if infografico.creditos %}
                     <strong >Créditos: {{ infografico.creditos }}</strong>
                    {% endif %}
                     <img src="/media/{{ infografico.imagem }}">
                    {% if infografico.descricao %}
                     <strong>{{ infografico.descricao }}</strong></br>
                    {% endif %}
                    <a class="button  green" href="{{ infografico.materia.get_absolute_url }}">Ver materia</a></br></br><hr>
                  </div>
              </div>
            {% endfor %}
            </div>

            <div class="row">
                <div class="twelve columns">
                    <div class="pagination-centered">
                        <ul class="pagination">
                            {% if infograficos.has_previous %}
                                <li class="arrow"><a href="?q={{ queryb }}&page={{ infograficos.previous_page_number }}">&laquo;</a></li>
                            {% endif %}
                            {% for num in infograficos.paginator.page_range %}
                                {% ifequal num infograficos.number %}
                                    <li class="current"><a href="">{{ num }}</a></li>
                                {% else %}
                                    {% if num <= infograficos.number|add:2 and num >= infograficos.number|add:-2 %}
                                        <li><a href="?q={{ queryb }}&page={{ num }}">{{ num }}</a></li>
                                    {% endif %}
                                {% endifequal %}
                            {% endfor %}
                            {% if infograficos.has_next %}
                                <li class="arrow"><a href="?q={{ queryb }}&page={{ infograficos.next_page_number }}">&raquo;</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>

          {% include "componentes/sidebar.html" %}
      </div>
    </section>

  </section>
{% endblock %}
