{% extends "base.html" %}
{% block title %}Cinema - Capital Teresina{% endblock %}

{% block seo %}
    <meta name="description" content="Cinema - Capital Teresina">
    <meta name="keywords" content="cinema, cinema teresina, cinema capital teresina, teresina capital, capital teresina portal, capital teresina site, capital teresina jornal, capital teresina revista">
{% endblock %}

{% block fb %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=393767570714772";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
{% block content %}
  <section class="conteudo">
    <section id="cinema">
      <div class="row">
        <div class="eight columns">
            <span class="label-title"><a href=""># Cinema</a></span>
            <div class="row">
              <div class="twelve columns">
                <div class="flexslider" id="cinema-slider">
                  <ul class="slides">
                    {% for slide in slides %}
                    <li>
                       <a href="/cinema/{{ slide.filme.slug }}">
                           <img src="/media/{{ slide.foto }}">
                           <span class="flex-caption">{{ slide.filme }}</span>
                       </a>
                    </li>
                   {% endfor %}
                  </ul>
                </div>
                <hr>
              </div>
            </div>


            <div class="row">
             {% for filme in filmes %}
              {% if forloop.last %}
                 <div class="four columns mobile-two end">
              {% else %}
                 <div class="four columns mobile-two">
              {% endif %}
                 <div id="cinema-item">
                  <h6><a href="/cinema/{{ filme.slug }}">{{ filme|lower }} {% for sessao in filme.get_sessoes %}{% if sessao.tresd  %}<span>3D</span>{% endif %}{% endfor %}</a></h6>
                  <div class="cartaz-cine">
                    <a href="/cinema/{{ filme.slug }}"><img src="/media/{{ filme.foto }}" alt="{{ filme|lower }}"></a>

                  </div>

                  <div class="cinema-info">
                    <div id="b1">
                      <p><strong>Duração: </strong>{{ filme.duracao }}</p>
                      <p><strong>Sessões: </strong>
                        {% for sessao in filme.get_sessoes %}
                          {% for horario in sessao.get_horario %}
                              {{ horario }}
                          {% endfor %}
                        {% endfor %}
                      </p>

                    </div>
                    <p class="text-center"><a href="/cinema/{{ filme.slug }}" class="button green"><strong>Sinopse / Trailer</strong></a></p>
                  </div>
                 </div>
              </div>
              {% endfor  %}
            </div>
        </div>

          {% include "componentes/sidebar.html" %}
      </div>
    </section>

  </section>
  {% endblock %}
  {% block extrajs %}
  <!-- Included JS Files (Compressed) -->
  <script src="{{ MEDIA_URL }}javascripts/jquery.js"></script>
  <script src="{{ MEDIA_URL }}javascripts/foundation.min.js"></script>

  <!-- Initialize JS Plugins -->
  <script src="{{ MEDIA_URL }}javascripts/app.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}javascripts/flexslider.js"></script>
<!--  <script type="text/javascript" src=" http://capitalteresina.com.br/media/js/jquery.socialist.js"></script>-->

    <script type="text/javascript">
        $(document).ready(function() {
            $('#main-slider').flexslider({animation: 'fade', controlsContainer: '.flex-container'});
            $('#cinema-slider').flexslider({animation: 'fade', controlsContainer: '.flex-container'});
        });
    </script>

    <script>
      $(function () {
          $('.myphotos').glisse({speed: 500, changeSpeed: 550, effect:'bounce', fullscreen: false});
      });
    </script>
  {% endblock %}

