{% extends "base.html" %}

{% block seo %}
    <meta name="description" content="{{ filme }} - Cinema Capital Teresina">
    <meta name="keywords" content="cinema, cinema teresina, cinema capital teresina, teresina capital, capital teresina portal, capital teresina site, capital teresina jornal, capital teresina revista">
{% endblock %}
{% block content %}
  <section class="conteudo">
    <section id="cinema">
      <div class="row">
        <div class="eight columns">
            <span class="label-title"><a href="">{{ filme|lower }}</a></span>


            <div class="row">
              <div class="four columns mobile-two">
                    <img src="/media/{{ filme.foto }}" alt="{{ filme }}">
              </div>

              <div class="eight columns">
                <div id="sinopse">
                  <p><strong>Dirigido por:</strong> {{ filme.direcao }}</p>
                  <p><strong>Elenco: </strong> {{ filme.elenco }}</p>
                  <p><strong>Gênero:</strong> {{ filme.genero }}</p>
                  <p><strong>Duração:</strong> {{ filme.duracao }}</p>
                  <p><strong>Sinopse:</strong> {{ filme.sinopse }}</p>

                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="six columns">
                <table class="twelve">
                  <thead>
                    <tr>
                      <th>Cinema</th>
                      <th>Sala</th>
                      <th>Horario</th>
                      <th>Idioma</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for sessao in filme.get_sessoes %}
                  {% for horario in sessao.get_horario %}
                    <tr>
                        <td>{{ sessao.get_cinema }}</td>
                        <td>{{ sessao.sala }}</td>
                        <td>{{ horario }}</td>
                        {% if sessao.legendado %}
                            <td>Legendado</td>
                        {% else %}
                            <td>Dublado</td>
                        {% endif %}
                    </tr>
                  {% endfor %}
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="six columns">
                <div class="flex-video">
                  <iframe width="420" height="315" src="http://www.youtube.com/embed/{{ video }}" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
        </div>

        {% include "componentes/sidebar.html" %}
      </div>
    </section>

  </section>
  {% endblock %}


